/*任务二的样式表*/
*{
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei UI", sans-serif;
    list-style: none;
}
header{
    background-color: rgb(51, 51, 51);
    height: 100px;
    min-width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
}
#logo{
    float: left;
}
header a img{
    width: 100px;
    height: 100px;
    vertical-align: top;
}
header nav{
    float: right;
    height: 100px;
    line-height: 100px;
}
header ul a{
    text-decoration: none;
    color: white;
}
header ul a:hover{
    text-decoration: underline;
}
header ul li{
    display: inline-block;
}




footer{
    background-color: rgb(51, 51, 51);
    height: 60px;
    min-width: 1000px;
    text-align: center;
    padding-top: 40px;
}
.mainWrap{
    padding: 20px;
    background-color:  rgb(222, 222, 222);
}
article{
    background-color: white;
    margin-bottom: 20px;
    padding: 40px 20px;
}
aside{
    background-color: white;
    padding: 20px;
}
article h1{
    font-size: 25px;
    line-height: 40px;
    vertical-align: middle;
}
article h2{
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
}
.info {
    font-size: 10px;
    line-height: 20px;
}
article p{
    line-height: 30px;
    text-indent:30px;
}

#text2 section li{
    line-height: 30px;
}

#text3 figure{
    width: 180px;
    height: 230px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

#text3 figure figcaption{
    line-height: 50px;
    width: 180px;
    text-align: center;
}

#text3 figure img{
    width: 180px;
    height: 180px;
    overflow: hidden;
}

#text4 ul{
    line-height: 30px;
}

#text4 table{
    border: 1px solid rgb(203, 203, 203);
    border-collapse: collapse;
    width: 100%;
    /*line-height: 30px;*/
}
th{
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: left;
    padding: 5px;
}
td{
    padding: 5px;
}
 .lastRow{
    background-color: rgb(203, 203, 203);
}

aside h2{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-left: 3px solid rgb(203, 203, 203);
    padding-left: 10px;
}

input{
    padding: 2px;
}

aside p{
    margin-bottom: 10px;
}
aside .note{
    margin-bottom: 30px;
    color: rgb(166, 167, 195);
    margin-left: 30%;
}

aside span{
    width: 30%;
    text-align: right;
    display: inline-block;
}

aside textarea{
    vertical-align: top;
    font-size: 20px;
}

.submit{
    width: 100%;
    /*display: inline-block;*/
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: rgb(51, 85, 208);
}